/* style.css */

#my-name {
/*  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 2;*/
  /*font-size: 5em;*/
}

#my-name {
/*  -webkit-animation-duration: 3s;
  -webkit-animation-name: slidein;*/
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#headshot-small {
  width: 16em;
  border-radius: 100%;
  margin-right: 0.5em;
}

.my-center {
  text-align: center;
}

#based-in {
  /*color: gray;*/
}

section.main-section {
  margin-top: 80px;
}

#main-header {
  /*text-align: center;*/
}

h3.my-section-title {
  border-bottom: solid 1px #333333;
  /*color: indianred;*/
}

h4.my-section-subtitle {
  margin-top: 15px;
}

.my-header.row {
  margin-top: 60px;
}

nav ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: #333333;
}

nav ul li a:hover {
  color: #000;
  background-color: #fff;
}

ul#my-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

ul#my-icon-list li {
  display: inline;
}